<header class="header">
  <div class="container nav-container">

    <h2 class="logo">JavaIQ Lab</h2>

    <nav id="nav-menu">
      <a href="/index.html">Home</a>
      <a href="/pages/freshers.html">Questions</a>
      <a href="#">Notes</a>
      <a href="#">Quiz</a>
      <a href="#">Contact</a>
    </nav>

    <div class="header-actions">
      <input type="text" id="searchInput" placeholder="Search...">
      <button id="theme-toggle">🌙</button>
      <button id="menu-btn">☰</button>
    </div>

  </div>
</header>